/* 组件less变量的定义 */
@import "../../style/index";
@import '../../style/vars';

@layout-header-min-height: 64px;
@layout-footer-min-height: 64px;
@layout-content-min-height: 120px;
@layout-sider-min-width: 200px;
